<!-- Hero -->
<section class='hero'>
    <div class='wrap'>
        <!-- LEFT -->
        <div align=center class='hero-left'>
            <img src="img/profilePics/ortonville.jpg"
            class="img-responsive img-thumbnail "
            alt="Luke Gloege"\>

            <!-- Social Media -->
            <br><br>
            <ul>
                <li>
                    <a class="mail" href="mailto:gloege@ldeo.columbia.edu">
                        <i class="fa fa-envelope fa-3x"></i>
                    </a>
                </li>
                <li>
                    <a class="github" href="https://github.com/lgloege">
                        <i class="fab fa-github fa-3x"></i>
                    </a>
                </li>
                <li>
                    <a class="vimeo" href="https://vimeo.com/user64960926">
                        <i class="fab fa-vimeo fa-3x"></i>
                    </a>
                </li>
            </ul>
        </div>

        <div align=center class='hero-right'>
            <!-- <div style='text-align: center;'> -->
                <img src="./img/logos/LamontLogo_trans.png"\>
            <!-- </div> -->
            <!-- BRIEF DESCRIPTION-->
            <h2 class='hero-name'>Luke Gloege</h2>
            <h4 class='hero-status'>Ph.D Candidate  /  Ecosystem Modeler</h4>

            <!-- BUTTONS -->
            <div style='text-align: center;' role="naviation">
            <button ><a href="#research" class="scroll-link page-scroll">Research</a></button>
            <button ><a href="#publications" class="scroll-link page-scroll">Publications</a></button>
            <button ><a href='./files/CV_20170801.pdf'>CV</a></button>
            </div>
        </div>
    </div>
</section> <!-- END TITLE PAGE -->
