<!-- Hero -->
<section class='hero'>
    <div class='wrap'>
        <!-- LEFT -->
        <div align=center class='hero-left'>
            <img src="{{site.data.hero.profile}}"
            class="img-responsive img-thumbnail "
            alt="{{site.name}}"\>

            <!-- Social Media -->
            <br><br>
            <ul>
                <li>
                    <a class="mail" href="mailto:{{site.email}}">
                        <i class="fa fa-envelope fa-3x"></i>
                    </a>
                </li>
                <li>
                    <a class="github" href="{{site.github}}">
                        <i class="fab fa-github fa-3x"></i>
                    </a>
                </li>
                <li>
                    <a class="vimeo" href="{{site.vimeo}}">
                        <i class="fab fa-vimeo fa-3x"></i>
                    </a>
                </li>
            </ul>
        </div>

        <div align=center class='hero-right'>
            <!-- <div style='text-align: center;'> -->
                <img src="{{site.data.hero.universityLogo}}"\>
            <!-- </div> -->

            <!-- BRIEF DESCRIPTION-->
            <h2 class='hero-name'> {{site.name}}</h2>
            <h4 class='hero-status'>{{site.data.hero.status}}</h4>

            <!-- BUTTONS -->
            <div style='text-align: center;' role="naviation">
            <button ><a href="#research" class="scroll-link page-scroll">Research</a></button>
            <button ><a href="#publications" class="scroll-link page-scroll">Publications</a></button>
            <button ><a href='{{site.data.hero.cv}}'>CV</a></button>
            </div>
        </div>
    </div>
</section> <!-- END TITLE PAGE -->
