<!-- MOVIES -->
<section class="movies" id='movies'>
    <div class='wrap'>
        <h1 class='section-heading'>Movies</h1>

            <div class="vimeo-wrapper">
                <iframe src="https://player.vimeo.com/video/227314903" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>

            <div class="vimeo-wrapper">
                <iframe src="https://player.vimeo.com/video/214928932" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>

    </div>
</section>
