<!-- Navitation -->
<header class='site-header'>
    <div class='wrap'>
            <p>
                <a href="#page-top" class='scroll-link page-scroll'> Gloege L. </a>
            </p>

        <nav class="site-nav">
            <ul>
                <li >
                    <a href="#movies" class="scroll-link page-scroll">
                        <i class="fas fa-film nav-icon"></i>
                        <h5 class="nav-icon-label">Movies</h5>
                    </a>
                </li>
                <li >
                    <a href="#publications" class="scroll-link page-scroll">
                        <i class="fas fa-bookmark nav-icon"></i>
                        <h5 class="nav-icon-label">Publications</h5>
                    </a>
                </li>
                <li>
                    <a href="#research" class="scroll-link page-scroll">
                        <i class="fas fa-flask nav-icon"></i>
                        <h5 class="nav-icon-label">Research</h5>
                    </a>
                </li>
            </ul>
        </nav>
    </div> <!-- END WRAP -->
</header> <!-- END SITE-HEADER -->
