<!-- PUBLICATIONS -->
<section class="publications" id='publications'>
    <div class='wrap'>
        <h1 class='section-heading'>Publications</h1>

        <!-- IN PROGRESS -->
        <h2 class='subsection-heading'> In prep.</h2>
        <ol>
            {% for publication in {{site.data.publications.progress}} %}
                <li>
                <span id="gloegeGBC2017">
                    {{publication}}
                </span>
                </li>
            {% endfor %}
        </ol>

        <!-- PUBLISHED -->
        <h2 class='subsection-heading'>In press / Published</h2>
        <ol >
            {% for publication in {{site.data.publications.published}} %}
                <li>
                <span id="gloegeGBC2017">
                    {{publication}}
                </span>
                </li>
            {% endfor %}
        </ol>

        <!-- CONFERENCES -->
        <h2 class='subsection-heading'>Conferences</h2>
        <ol >
            {% for conference in {{site.data.publications.conference}} %}
                <li>
                <span id="gloegeGBC2017">
                    {{conference}}
                </span>
                </li>
            {% endfor %}
        </ol>

    </div>
</section>
