<!-- PUBLICATIONS -->
<section class="publications" id='publications'>
    <div class='wrap'>
        <h1 class='section-heading'>Publications</h1>

        <!-- IN PROGRESS -->
        <h2 class='subsection-heading'> In prep.</h2>
        {% bibliography --query @unpublished %}

        <!-- PUBLISHED -->
        <h2 class='subsection-heading'>In press / Published</h2>
        {% bibliography --query @article %}

        <!-- CONFERENCES -->
        <h2 class='subsection-heading'>Conferences</h2>
        {% bibliography --query @conference %}
    </div>
</section>
