<!-- RESEARCH -->
<section id='research' class="research">

            <div class='wrap'>
            <h1 class='section-heading'>Research</h1>
            <p>
                {{site.data.research.description}}
            </p>

            <!-- BUTTONS -->
        <!-- BUTTONS -->
        <div class="research-links">
            <button ><a href="#bcp" class="scroll-link page-scroll">Biological Pump</a></button>
            <button ><a href="#lm" class="scroll-link page-scroll">Lake Michigan</a></button>
            <button ><a href="#pco2" class="scroll-link page-scroll">pCO2 Gap filling</a></button>
         <!--   <button ><a href="#lm" class="scroll-link page-scroll">Ocean pCO2</a></button> -->
        </div>
        </div> <!-- End wrap -->

    {% for item in {{site.data.research.research}} %}
        <div id='{{item.id}}' class='research-item'>
            <div class='wrap'>
            <!-- Teaser image -->
            <figure class="research-img">
                <img class="img-responsive" src={{item.figure}} >
            </figure>

            <!-- RESEARCH description-->
            <div class="research-body">
                <h2  class='subsection-heading'>{{item.title}}</h2>
                <p >
                    {{item.description}}
                </p>
            </div> <!-- END RESERACH BODY -->
            </div> <!-- END WRAP -->
        </div><!-- END RESERACH ITEM -->
    {% endfor %}

</section>

