/*
* ==================================
* Header Styles
* ==================================
*/

footer {
    text-align: center;
    display: block;
    margin: 0 0px;
    padding: $header-height/2 0;
    box-sizing: border-box;
    position: relative;
    width: 100%;

    @media only screen and (min-width: 500px) {
        padding: $header-height 0;
    }

    @media only screen and (min-width: 700px) {
        padding: $header-height 0;
    }
    .footer-left {
        width: 100%;
        text-align: center;
        color: $columbia-dark;
        font-size: 18px;

        @media only screen and (min-width: 700px) {
            width: span(6 of 12);
            float: left;
            margin: none;
        }
    }

    .footer-right {
        width: 100%;
        text-align: center;
        color: $columbia-dark;
        font-size: 18px;

        @media only screen and (min-width: 700px) {
            width: span(6 of 12);
            float: right;
            margin: none;
        }
    }
}
