/*
* ==================================
* Hero Styles
* ==================================
*/

.hero {
    margin-top: $header-height * 1.75;
    padding-bottom: $header-height * 6;

    @media only screen and (min-width: 500px) {
        margin-top: $header-height60 * 1.75;
    }

    @media only screen and (min-width: 700px) {
        margin-top: $header-height70 * 1.75;
    }

    .hero-left {
        width: 100%;

        @media only screen and (min-width: 700px) {
            width: span(4 of 12);
            float: left;
        }

        ul {
            display: block;
            list-style: none;
            text-align: center;
            margin: 0;
            padding: 0;

            li {
                display: inline-block;
                padding: 0px 10px;
                height: 100%;

                a {
                    text-align: center;

                    &.mail, &.github, &.vimeo{
                        color: $columbia;
                        text-decoration: none;
                        text-align:center;
                    }

                    &.mail:hover, &.github:hover, &.vimeo:hover {
                        color:$columbia-dark;
                        text-decoration: none;
                    }
                }
            }
        }
    }

    .hero-right {
        width: 100%;

        @media only screen and (min-width: 700px) {
            width: span(8 of 12);
            float: right;
        }

        img {
            border:0;
            box-shadow:0;
            border-radius: 5px;
            display:block;
            margin: 0;
            padding: 0;
            max-height: 90%;
            max-width: 90%;
            text-align: center;
        }

        h2 {
            font-family: $font-columbia;
            font-size:24pt;
            color: $text-dark;
            text-align: center;
        }

        h4 {
            font-family: $font-columbia;
            font-size:18pt;
            color: $text-dark;
            text-align: center;
        }
    }
}


.img-thumbnail {
    border:0;
    box-shadow:0;
    border-radius: 5px;
}
