/*
* ==================================
* Variables
* ==================================
*/

// BREAKPOINT
$break-point: 500px;

// HEIGHTS
$header-height: 30px;
$header-height60: 60px;
$header-height70: 70px;

// BACKGROUND-COLORS
$bg-light: #EAEAEA;
$bg-dark: #AFAFAF;
$bg-columbia: #4F8ABE;
$bg-columbia-dark: #232554;

//COLORS
$snow: #FFFAFA;
$white: #FFFFFF;
$columbia: #4F8ABE;
$columbia-dark: #232554;

// PARAGRAPH-STYLES
$p-font-size: 18px;
$p-font-family: 'EB Garamond', serif;
$p-line-height: 1.75;
$font-columbia: 'Cinzel', serif;

// TEXT-COLORS
$text-muted: #777;
$text-primary: #0099FF;
$text-dark: #232554;
