---
---
{% assign filename = entry.key | append: ".pdf" %}
{% for static_file in site.static_files %}
    {% if static_file.path contains filename %}
        {% assign pdf = true %}
    {% endif %}
{% endfor %}

<!-- Bolds my names -->
<div class="text-justify">{{reference | replace_first: 'Gloege, L.', '<b>Gloege, L.</b>'}}

<!-- Links to pdf version of paper
looks for the name of entry in papers folder -->
{% if pdf %}
    <a style="
    color: red;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;"
    href="papers/{{ filename }}">PDF</a>
{% endif %}

<!-- Links to DOI -->
{% if entry.doi %}
<!--#4CAF50 -->
&rarr;
<a style="
    color: red;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;"
    href="http://doi.org/{{ entry.doi }}">online</a>

<!--
<button style="
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 4px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    font-weight: bold;
    margin: 2px 1px;
    cursor: pointer;
    border-radius: 5px;"
    onclick="toggleBibtex{{entry.key}}()">
    Bibtex
</button>
-->
{% endif %}
</div>

<script>
function toggleBibtex{{entry.key}}(parameter) {
    var x= document.getElementById('a{{entry.key}}');
    if (x.style.display === 'none') {
        x.style.display = 'block';
    } else {
        x.style.display = 'none';
    }
}
</script>
